Options +FollowSymLinks

<IfModule mod_autoindex.c>
	IndexIgnore *
</IfModule>

<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteBase /

	# Strip off www
	RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
	RewriteRule ^(.*)$ http://%1/$1 [L,R=301]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ /$1.php [L]
</IfModule>