div#post_wedding_splash {
  display: block; }
  div#post_wedding_splash .left_column {
    float: left; }
  div#post_wedding_splash .right_column {
    float: left; }
    div#post_wedding_splash .right_column h1 {
      margin-top: 30%;
      line-height: 2; }

div.title hr {
  margin-top: 8px; }
