a {
  color: #f37a7a;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a img {
    border: none; }

p {
  margin-bottom: 32px; }

body {
  background-image: url(../images/grain.png);
  background-color: white;
  font-family: Futura, Lucida Sans Unicode, Lucida Grande, sans-serif;
  font-size: 10pt;
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
  position: absolute;
  min-height: 100%;
  line-height: 1.3;
  color: #5a3a08; }

div.background {
  position: absolute;
  z-index: -1;
  background: url(../images/photo.png) no-repeat 0 -72px;
  width: 100%;
  height: 100%; }

div.bird {
  position: absolute;
  width: 100%;
  height: 500px; }
  div.bird#bird1 {
    background: url(../images/bird_flight.png) no-repeat 204px 56px;
    top: 840px;
    left: 0; }
  div.bird#bird2 {
    background: url(../images/bird_flight_2.png) no-repeat 0px 0px;
    top: 1680px;
    left: 0; }

div.wrapper {
  margin: 0 auto;
  padding: 0 16px;
  width: 944px;
  position: relative; }

div.title {
  padding-top: 64px;
  width: 100%; }
  div.title img {
    float: left;
    margin-top: 6px; }
  div.title hr {
    height: 8px;
    background-color: #dbcbb0;
    border: 0;
    position: absolute;
    top: 96px;
    width: 100%;
    z-index: -1; }
  div.title ul.menu {
    padding-left: 0;
    margin: 0 0 0 368px;
    height: 96px; }
    div.title ul.menu li {
      list-style: none;
      float: left;
      margin-left: 16px; }
      div.title ul.menu li a {
        display: block;
        width: 176px;
        height: 96px;
        background-color: #5a3a08;
        font-weight: normal;
        -moz-box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.6);
        -webkit-box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.6);
        box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.6); }
        div.title ul.menu li a span {
          padding: 8px 8px 0 8px;
          text-align: center;
          display: block; }
        div.title ul.menu li a span.title {
          font-size: 1.29em;
          color: #f37a7a;
          text-transform: lowercase; }
        div.title ul.menu li a span.description {
          margin-top: 8px;
          color: white; }
      div.title ul.menu li a.selected, div.title ul.menu li a:hover {
        background-color: #f37a7a;
        text-decoration: none; }
        div.title ul.menu li a.selected span.title, div.title ul.menu li a:hover span.title {
          color: #5a3a08; }

div.navigation {
  padding-top: 64px; }
  div.navigation div.box {
    border: 8px solid #dbcbb0;
    border-right: none;
    width: 376px;
    height: 224px;
    margin-top: 130px;
    float: left;
    background-color: #f0e7d8;
    text-transform: lowercase; }
    div.navigation div.box h2, div.navigation div.box span {
      width: 360px;
      text-align: center; }
    div.navigation div.box h2 {
      margin-top: 58px;
      color: #5a3a08;
      font-size: 1.71em; }
    div.navigation div.box span {
      display: block;
      font-size: 1.29em; }
  div.navigation img {
    border: 8px solid #5a3a08;
    float: right;
    width: 544px;
    height: 410px;
    -moz-box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.6);
    box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.6); }

div.page {
  clear: both;
  padding-top: 1px; }
  div.page h3, div.page p, div.page form {
    width: 560px;
    margin-left: auto;
    margin-right: auto; }
  div.page h3 img {
    border: none;
    vertical-align: middle; }
  div.page h4 {
    font-size: 1.29em;
    color: #5a3a08;
    font-weight: normal;
    margin-top: 0; }
  div.page img {
    border: 8px solid #dbcbb0; }
  div.page img.no_border {
    border: none; }
  div.page div.section {
    margin-top: 64px; }
    div.page div.section#rsvp span {
      width: 368px;
      margin: 0;
      float: left;
      text-align: right; }
    div.page div.section#rsvp input {
      font-style: Futura, Lucida Sans Unicode, Lucida Grande, sans-serif;
      text-align: center;
      display: block;
      border-radius: 8px; }
    div.page div.section#rsvp select {
      float: right;
      clear: right;
      width: 176px; }
    div.page div.section#rsvp input.text {
      float: right;
      clear: right;
      width: 170px; }
      div.page div.section#rsvp input.text.large {
        margin-top: -8px; }
    div.page div.section#rsvp input.button {
      width: 176px;
      border: 0;
      background-color: #f37a7a;
      font-size: 1.29em;
      float: right;
      clear: right;
      color: white;
      border-radius: 8px;
      padding: 4px 8px; }
      div.page div.section#rsvp input.button:hover {
        background-color: #5a3a08; }
    div.page div.section#rsvp p.error {
      float: right;
      text-align: right;
      margin: 8px 0; }
    div.page div.section#rsvp #load {
      float: right;
      margin: 2px 80px 2px 0;
      border: none;
      padding: 6px 0; }
    div.page div.section#about_calgary img.rotate {
      position: absolute; }
    div.page div.section#our_family img.scale {
      position: absolute; }
    div.page div.section#our_family p {
      width: auto; }
    div.page div.section#our_family div.triple {
      height: 823px; }
    div.page div.section#our_family div.double {
      margin-top: 128px;
      z-index: -1; }
  div.page div.divider + div.section {
    margin: 32px 0; }
  div.page div.divider {
    position: relative;
    z-index: -1;
    color: #f0e7d8;
    text-align: center;
    font-size: 1.29em;
    clear: both; }
    div.page div.divider span.highlight {
      color: #dbcbb0; }
  div.page div.wedding_party {
    width: 368px;
    height: 1039px;
    float: left; }
    div.page div.wedding_party h4 {
      margin-top: 8px; }
    div.page div.wedding_party div.divider {
      clear: both;
      padding-top: 33px; }
    div.page div.wedding_party a.person {
      cursor: pointer;
      position: relative;
      margin-bottom: -8px;
      text-decoration: none;
      float: left;
      width: 368px; }
      div.page div.wedding_party a.person img {
        width: 160px;
        height: 102px;
        vertical-align: middle; }
      div.page div.wedding_party a.person span {
        margin-left: 16px;
        color: #5a3a08; }
      div.page div.wedding_party a.person:hover, div.page div.wedding_party a.person.selected {
        z-index: 1; }
        div.page div.wedding_party a.person:hover span, div.page div.wedding_party a.person.selected span {
          color: #f37a7a; }
        div.page div.wedding_party a.person:hover img, div.page div.wedding_party a.person.selected img {
          border: 8px solid #f37a7a; }
  div.page div.mad_lib {
    background-image: url(../images/mad_lib.png);
    width: 590px;
    height: 1039px;
    position: absolute;
    right: 0;
    z-index: -1; }
    div.page div.mad_lib div.overlay {
      position: absolute;
      background-repeat: no-repeat;
      background-position: 36px 54px;
      width: 590px;
      height: 1039px;
      display: none; }
      div.page div.mad_lib div.overlay#bonnie_overlay {
        background-image: url(../images/mad_lib_bonnie.png); }
      div.page div.mad_lib div.overlay#lorraine_overlay {
        background-image: url(../images/mad_lib_lorraine.png); }
      div.page div.mad_lib div.overlay#lori_overlay {
        background-image: url(../images/mad_lib_lori.png); }
      div.page div.mad_lib div.overlay#glyn_overlay {
        background-image: url(../images/mad_lib_glyn.png); }
      div.page div.mad_lib div.overlay#cam_overlay {
        background-image: url(../images/mad_lib_cam.png); }
      div.page div.mad_lib div.overlay#serge_overlay {
        background-image: url(../images/mad_lib_serge.png); }
      div.page div.mad_lib div.overlay#kyle_overlay {
        background-image: url(../images/mad_lib_kyle.png); }
      div.page div.mad_lib div.overlay#jason_overlay {
        background-image: url(../images/mad_lib_jason.png); }
      div.page div.mad_lib div.overlay.selected {
        display: inline; }
  div.page div.twitter_box {
    float: left;
    margin-right: 16px;
    margin-top: 130px; }
  div.page div.twitter_picture {
    background-image: url(../images/thought_bubbles.png);
    background-position: 260px -30px;
    background-repeat: no-repeat;
    height: 620px;
    clear: both; }
    div.page div.twitter_picture img {
      position: absolute;
      clear: both;
      bottom: 0; }

div.padding {
  float: left;
  height: 300px;
  width: 100%; }

div.footer {
  width: 100%;
  clear: both;
  position: absolute;
  bottom: 0px;
  font-size: 1.29em; }
  div.footer a {
    color: white;
    font-weight: normal; }
  div.footer div.bottom {
    background-color: #dbcbb0;
    color: #f0e7d8;
    height: 92px;
    padding-top: 36px; }
    div.footer div.bottom div.menu {
      float: left; }
      div.footer div.bottom div.menu a.watermark {
        display: block;
        margin-top: 16px;
        text-transform: lowercase;
        font-size: 10pt; }
    div.footer div.bottom a.tweets {
      background: url(../images/birds.png) top right no-repeat;
      display: block;
      width: 300px;
      height: 222px;
      position: absolute;
      right: 16px;
      top: -176px; }
      div.footer div.bottom a.tweets span {
        text-align: right; }
      div.footer div.bottom a.tweets span.title {
        padding-top: 178px;
        display: block; }
      div.footer div.bottom a.tweets span.description {
        display: block;
        font-size: 10pt; }

.half {
  margin-left: 96px; }

.one {
  margin-left: 192px; }

.double {
  width: 368px;
  position: relative; }

.triple {
  width: 560px;
  position: relative; }

.left {
  float: left; }

.right {
  float: right; }

.bold {
  font-weight: bold; }

.error {
  color: #f37a7a; }

.large {
  font-size: 1.71em; }

.rotate, .scale {
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }

.rotate:hover {
  -moz-transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg); }

.scale:hover {
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
  -moz-box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.6);
  box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.6);
  z-index: 1; }
